.container-cascata {
    background-color: aqua;
}

.container-cascata{
    background-color: orange;
}

.paragrafo-1 {
    background-color: aquamarine;
}

#meu-paragrafo {
    background-color: violet;
}

.container-especificidade {
    background-color: chartreuse;
}
